<main>
    <div class="name-field-enter-chat-button">
        <input #inputName type="text" class="name-field" 
            (keyup.enter)="onEnterButtonClicked(inputName.value)"
            placeholder="Enter you user name" 
            [class.input-field-error] = "hasInpurError"  />
        <p class="user-name-error-message" *ngIf="hasInpurError">
            Insert your User Name, please.
        </p>
        <div class="enter-chat-button" (click) = "onEnterButtonClicked(inputName.value)">
            <p> Join chat</p>
        </div>
    </div>
</main>